{{>partial_header}}
package {{apiPackage}}

import (
    "context"
{{#modelImports}}
    {{{import}}}
{{/modelImports}})

{{#operations}}
type Imp{{classname}} struct {
}
{{#operation}}
{{#contents}}
func (t Imp{{classname}}) {{operationId}}(ctx context.Context,{{#parameters}}{{paramName}} {{{dataType}}}{{#hasMore}},{{/hasMore}}{{/parameters}})  (int, map[string]string, interface{}){
    return 501, nil, nil
}
{{/contents}}
{{/operation}}
{{/operations}}