{{>partial_header}}
package {{packageName}}

import ({{#modelImports}}
    {{{import}}}
{{/modelImports}})

{{#operations}}
type Imp{{classname}} struct {
}
{{#operation}}
{{#contents}}
func (t Imp{{classname}}) {{operationId}}({{#parameters}}{{paramName}} {{{dataType}}}{{#hasMore}},{{/hasMore}}{{/parameters}})  (int, map[string]string, interface{}){
    return 501, nil, nil
}
{{/contents}}
{{/operation}}
{{/operations}}