{{>partial_header}}
package {{packageName}}

import (
    {{#useLogrus}}log "github.com/sirupsen/logrus"{{/useLogrus}}
    {{^useLogrus}}"log"{{/useLogrus}}
    "net/http"
    "time"
)

func Logger(inner http.Handler, name string) http.Handler {
    return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
        start := time.Now()
        inner.ServeHTTP(w, r)
        {{#useLogrus}}log.Debugf({{/useLogrus}}
        {{^useLogrus}}log.Printf({{/useLogrus}}
            "%s %s %s %s",
            r.Method,
            r.RequestURI,
            name,
            time.Since(start),
        )
    })
}
