{{>partial_header}}
package main

import (
	"net/http"
{{#imports}}
    "{{this}}"
{{/imports}}
    {{swaggerPackage}}
)
var (
{{#classNames}}
     emptyImp{{this}}  sw.Imp{{this}}
{{/classNames}}
)


func main() {
	log.Printf("Server started")

router := sw.NewRouter({{#classNames}}emptyImp{{this}}{{#hasMore}},{{/hasMore}}{{/classNames}})

	log.Fatal(http.ListenAndServe(":{{serverPort}}", router))
}
