{{>partial_header}}
package main

import (
	"net/http"
	"github.com/gorilla/mux"
    {{#useLogrus}}log "github.com/sirupsen/logrus"{{/useLogrus}}
    {{^useLogrus}}"log"{{/useLogrus}}

    sw "{{packageName}}/{{packageName}}"
)
var (
{{#classNames}}
     emptyImp{{this}}  sw.Imp{{this}}
{{/classNames}}
)


func main() {
	log.Printf("Server started")
	router := mux.NewRouter().StrictSlash(true)
    sw.AddApi(router,{{#classNames}}emptyImp{{this}}, {{/classNames}})

	log.Fatal(http.ListenAndServe(":{{serverPort}}", router))
}
