{{#hasQueryParams}}
params := r.URL.Query()
{{#parameters}}
{{#isQueryParam}}
{{#isString}}
{{paramName}} = params.Get("{{paramName}}")
{{/isString}}
{{#isArray}}
{{paramName}} = params["{{paramName}}"]
{{/isArray}}
{{#isFloat32}}
var {{paramName}}64
if {{paramName}}64, err = strconv.ParseFloat(params.Get("{{paramName}}"), 32); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
}
{paramName}} = float32({{paramName}}64)
{{/isFloat32}}
{{#isFloat64}}
if {{paramName}}, err = strconv.ParseFloat(params.Get("{{paramName}}"), 64); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
}
{{/isFloat64}}
{{#isInt32}}
var {{paramName}}64
if {{paramName}}64, err = strconv.ParseInt(params.Get("{{paramName}}"), 10, 32); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
    }
{paramName}} = int32({{paramName}}64)
{{/isInt32}}
{{#isInt64}}
if {{paramName}}, err = strconv.ParseInt(params.Get("{{paramName}}"), 10, 64); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
}
{{/isInt64}}
{{#isBoolean}}
if {{paramName}}, err = strconv.ParseBool(params.Get("{{paramName}}"), 10, 64); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
}
{{/isBoolean}}
{{#isDateTime}}
if {{paramName}}, err = time.Parse(time.RFC3339, params.Get("{{paramName}}"); err != nil {
{{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
{{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
w.WriteHeader(http.StatusBadRequest)
return
}
{{/isDateTime}}
{{/isQueryParam}}
{{/parameters}}
{{/hasQueryParams}}