{{#hasFormParams}}
r.ParseForm()
{{#parameters}}
{{#isFormParam}}
{{#isString}}
{{paramName}} = r.FormValue("{{paramName}}")
{{/isString}}
{{#isFloat32}}
var {{paramName}}64 float64
if {{paramName}}64, err = strconv.ParseFloat(r.FormValue("{{paramName}}"), 32); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
    }
{paramName}} = float32({{paramName}}64)
{{/isFloat32}}
{{#isFloat64}}
if {{paramName}}, err = strconv.ParseFloat(r.FormValue("{{paramName}}"), 64); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
}
{{/isFloat64}}
{{#isInt32}}
var {{paramName}}64 int64
if {{paramName}}64, err = strconv.ParseInt(r.FormValue("{{paramName}}"), 10, 32); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
    }
{{paramName}} = int32({{paramName}}64)
{{/isInt32}}
{{#isInt64}}
    if {{paramName}}, err = strconv.ParseInt(r.FormValue("{{paramName}}"), 10, 64); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
}
{{/isInt64}}
{{#isBoolean}}
    if {{paramName}}, err = strconv.ParseBool(r.FormValue("{{paramName}}"), 10, 64); err != nil {
    {{#useLogrus}}log.Errorf(err.Error()){{/useLogrus}}
    {{^useLogrus}}log.Printf(err.Error()){{/useLogrus}}
    w.WriteHeader(http.StatusBadRequest)
    return
}
{{/isBoolean}}
{{/isFormParam}}
{{/parameters}}
{{/hasFormParams}}