{{>partial_header}}
package {{packageName}}

import (
	"net/http"
	"strings"
	"github.com/gorilla/mux"
)

type Route struct {
	Name        string
	Method      string
	Pattern     string
	HandlerFunc http.HandlerFunc
}

type Routes []Route


func AddApi(router *mux.Router, {{#classNames}}imp{{this}} {{this}}, {{/classNames}}){
    var routes = Routes{
   {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}

        Route{
        "{{operationId}}",
        strings.ToUpper("{{httpMethod}}"),
        "{{{basePathWithoutHost}}}{{{path}}}",
        {{operationId}}Handler(imp{{classname}}),
        },{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
    }
	for _, route := range routes {
		var handler http.Handler
		handler = route.HandlerFunc
		handler = Logger(handler, route.Name)

		router.
			Methods(route.Method).
			Path(route.Pattern).
			Name(route.Name).
			Handler(handler)
	}
}



